*CMakeCache.txt
*CMakeFiles/
*.pdf
*.optrpt
*.vtu.*
*.vtu
*.exe
*.o
*.o.d
*.bbl
*.blg
*.brf
*.asv
*.bak
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.xmpi
*.DS_Store
*Makefile.debug
*Makefile.release
*Makefile.linux
notes/integration/integration.pdf
notes/handwritten/
notes/20_tausch/
*.mat
*.tmp
*.vscode/
