*CMakeCache.txt
*CMakeFiles/
*.swp
*.optrpt
*.vtu.*
*.vtu
*.exe
*.o
*.o.d
*.bak
*.log
*.DS_Store
*.tmp
*.vscode/
.cproject
.project
.settings
*.proc_assign
*.tree_vec
lib
build
doc/html
test/ensight
test/ensight_surface
test/ensight_grid
test/ensight_mesh
test/ensight_tri_mesh
test/ensight_quad_mesh
test/local
