[submodule "cpp/third_party/eigen"]
	path = cpp/third_party/eigen
	url = https://github.com/zap150/eigen.git
[submodule "cpp/third_party/boost/align"]
	path = cpp/third_party/boost/align
	url = https://github.com/zap150/align.git
[submodule "cpp/third_party/boost/config"]
	path = cpp/third_party/boost/config
	url = https://github.com/zap150/config.git
[submodule "cpp/third_party/boost/assert"]
	path = cpp/third_party/boost/assert
	url = https://github.com/zap150/assert.git
[submodule "cpp/third_party/boost/static_assert"]
	path = cpp/third_party/boost/static_assert
	url = https://github.com/zap150/static_assert.git
[submodule "cpp/third_party/boost/core"]
	path = cpp/third_party/boost/core
	url = https://github.com/zap150/core.git
